//
//  Planet.xcconfig
//  Planet
//
//  Created by Xin Liu on 10/30/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ORGANIZATION_IDENTIFIER_PREFIX = xyz.planetable

DEVELOPMENT_TEAM = 66KP7KX9MX;

#include "marketing_version.xcconfig"
#include "versioning.xcconfig"
#include? "local.xcconfig"
